@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 4em;
}

/* Navbar */
#navbar {
  background-color: #132d46;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#deployedlogo {
  color: #5fe117;
  font-family: "Pacifico", cursive;
  margin-left: 1%;
}

#navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.5em;
}

#navbar a {
  color: #f2f2f2;
  padding: 0 1em;
  text-decoration: none;
  font-weight: 900;
  color: #5fe117;
}

/* About me section / Home */
#aboutme {
  padding: 12% 5%;
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#5cdb95), color-stop(50%, #5cdb95), color-stop(50%, white), to(white));
  background: linear-gradient(to right, #5cdb95 0%, #5cdb95 50%, white 50%, white 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutme h2 {
  margin: 0;
  padding: 8% 4%;
  font-family: "Pacifico", cursive;
  color: #fccd04;
}

.aboutmetext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#presentationtxt {
  color: #f0f6e7;
  font-size: 2em;
  font-weight: bolder;
  width: 45%;
}

#valuestxt {
  float: right;
  width: 45%;
  font-size: 2em;
  font-weight: bolder;
  color: #5cdb95;
}

/* Projects section with 2 asymetrics carroussels */
#projects {
  width: 100%;
  height: 50em;
  margin: 0;
  padding: 5% 0%;
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), color-stop(50%, #fff), color-stop(50%, #132d46), to(#132d46));
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #132d46 50%, #132d46 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects h2 {
  margin: 0;
  font-family: "Pacifico", cursive;
  color: #fccd04;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.leftcaroussel {
  list-style: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 2%;
  color: #132d46;
}

.leftcaroussel li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects h3 {
  font-size: 2em;
  font-weight: 900;
}

#projects h4 {
  font-size: 1em;
  font-weight: 700;
}

.projecttec {
  list-style: none;
  color: #5fe117;
  font-weight: 600;
}

.rightcaroussel {
  list-style: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  text-align: end;
  padding: 0 2%;
}

.rightcaroussel li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects img {
  width: 15%;
  height: 15%;
  border-radius: 100%;
}

/* Contact section with contact form */
#contact {
  background: #8ee4af;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact h2 {
  margin: 1em;
  font-family: "Pacifico", cursive;
  color: #fccd04;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#contactform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background-color: #f0f6e7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 100%;
  padding: 20% 5%;
  font-weight: 700;
  color: #132d46;
}

.submitbtn {
  background-color: #8ee4af;
  color: #fff;
  border: none;
  font-weight: bolder;
  border-radius: 4px;
  padding: 2%;
  margin-top: 2%;
}

footer {
  background: #132d46;
  width: 100%;
  color: #f0f6e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.legalnotice {
  text-decoration: none;
  color: #fccd04;
  font-size: 0.8em;
  margin: 0;
  padding: 2% 0;
}

.modal {
  display: none;
}
/*# sourceMappingURL=main.css.map */