@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;900&display=swap")

body
    margin: 0
    padding: 0
    font-family: "Roboto", sans-serif

h2
    font-size: 4em

/* Navbar */
#navbar
    background-color: #132d46
    position: fixed
    top: 0
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

#deployedlogo
    color: #5fe117
    font-family: "Pacifico", cursive
    margin-left: 1%

#navbar ul
    list-style: none
    display: flex
    flex-direction: row
    justify-content: center
    margin: 0 0.5em

#navbar a
    color: #f2f2f2
    padding: 0 1em
    text-decoration: none
    font-weight: 900
    color: #5fe117

/* About me section / Home */

#aboutme
    padding: 12% 5%
    margin: 0
    background: linear-gradient(to right, #5cdb95 0%, #5cdb95 50%, white 50%, white 100%)
    display: flex
    flex-wrap: wrap
    justify-content: center

    & h2
        margin: 0
        padding: 8% 4%
        font-family: "Pacifico", cursive
        color: #fccd04

.aboutmetext
    display: flex
    justify-content: space-between

#presentationtxt
    color: #f0f6e7
    font-size: 2em
    font-weight: bolder
    width: 45%

#valuestxt
    float: right
    width: 45%
    font-size: 2em
    font-weight: bolder
    color: #5cdb95

/* Projects section with 2 asymetrics carroussels */

#projects
    width: 100%
    height: 50em
    margin: 0
    padding: 5% 0%
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #132d46 50%, #132d46 100%)
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around

    & h2
        margin: 0
        font-family: "Pacifico", cursive
        color: #fccd04
        order: 2
        justify-self: center

.leftcaroussel
    list-style: none
    order: 1
    padding: 0 2%
    color: #132d46

    & li
        display: flex

#projects h3
    font-size: 2em
    font-weight: 900

#projects h4
    font-size: 1em
    font-weight: 700

.projecttec
    list-style: none
    color: #5fe117
    font-weight: 600

.rightcaroussel
    list-style: none
    order: 3
    text-align: end
    padding: 0 2%

    & li
        display: flex

#projects img
    width: 15%
    height: 15%
    border-radius: 100%

/* Contact section with contact form */

#contact
    background: #8ee4af
    margin: 0
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

    & h2
        margin: 1em
        font-family: "Pacifico", cursive
        color: #fccd04
        align-self: center

    &form
        display: flex
        border-radius: 10px
        background-color: #f0f6e7
        flex-direction: column
        justify-content: center
        width: 40%
        height: 100%
        padding: 20% 5%
        font-weight: 700
        color: #132d46

.submitbtn
    background-color: #8ee4af
    color: #fff
    border: none
    font-weight: bolder
    border-radius: 4px
    padding: 2%
    margin-top: 2%

footer
    background: #132d46
    width: 100%
    color: #f0f6e7
    display: flex
    justify-content: center

.legalnotice
    text-decoration: none
    color: #fccd04
    font-size: 0.8em
    margin: 0
    padding: 2% 0

.modal
    display: none
